<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {#    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/styles.css') }}">#}

    {% assets "bash_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    {#    <script src="{{ url_for('static',filename = 'node_modules/es6-shim/es6-shim.min.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename = 'node_modules/systemjs/dist/system-polyfills.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename = 'node_modules/angular2/es6/dev/src/testing/shims_for_IE.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename = 'node_modules/angular2/bundles/angular2-polyfills.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename = 'node_modules/systemjs/dist/system.src.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename = 'node_modules/rxjs/bundles/Rx.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename = 'node_modules/angular2/bundles/angular2.dev.js') }}"></script>#}
    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
            transpiler: 'typescript',
            typescriptOptions: {emitDecoratorMetadata: true},
            packages: {
                'static/ts': {defaultExtension: 'ts'},
{#                'static/node_modules/rxjs': {defaultExtension: 'js'}#}
            },
{#            paths: {#}
{#                'rxjs/operator/*': 'static/node_modules/rxjs/add/operator/*.js',#}
{#                'rxjs/*': 'static/node_modules/rxjs/*.js'#}
{#            }#}
        });
        System.import('static/ts/main')
                .then(null, console.error.bind(console));
    </script>
</head>
<!-- 3. Display the application -->
<body>
<my-app>Loading...</my-app>

</body>
</html>
