<!DOCTYPE html>
<!--
 ▄▄▄██▀▀▀█    ██  ███▄ ▄███▓ ██▓███    ██████ ▓█████  ██▀███   ██▒   █▓▓█████  ██▀███
   ▒██   ██  ▓██▒▓██▒▀█▀ ██▒▓██░  ██▒▒██    ▒ ▓█   ▀ ▓██ ▒ ██▒▓██░   █▒▓█   ▀ ▓██ ▒ ██▒
   ░██  ▓██  ▒██░▓██    ▓██░▓██░ ██▓▒░ ▓██▄   ▒███   ▓██ ░▄█ ▒ ▓██  █▒░▒███   ▓██ ░▄█ ▒
▓██▄██▓ ▓▓█  ░██░▒██    ▒██ ▒██▄█▓▒ ▒  ▒   ██▒▒▓█  ▄ ▒██▀▀█▄    ▒██ █░░▒▓█  ▄ ▒██▀▀█▄
 ▓███▒  ▒▒█████▓ ▒██▒   ░██▒▒██▒ ░  ░▒██████▒▒░▒████▒░██▓ ▒██▒   ▒▀█░  ░▒████▒░██▓ ▒██▒
 ▒▓▒▒░  ░▒▓▒ ▒ ▒ ░ ▒░   ░  ░▒▓▒░ ░  ░▒ ▒▓▒ ▒ ░░░ ▒░ ░░ ▒▓ ░▒▓░   ░ ▐░  ░░ ▒░ ░░ ▒▓ ░▒▓░
 ▒ ░▒░  ░░▒░ ░ ░ ░  ░      ░░▒ ░     ░ ░▒  ░ ░ ░ ░  ░  ░▒ ░ ▒░   ░ ░░   ░ ░  ░  ░▒ ░ ▒░
 ░ ░ ░   ░░░ ░ ░ ░      ░   ░░       ░  ░  ░     ░     ░░   ░      ░░     ░     ░░   ░
 ░   ░     ░            ░                  ░     ░  ░   ░           ░     ░  ░   ░
                                                                   ░
-->
<html lang="en">
<head>
    <base href="/">

    <meta charset="UTF-8">
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% assets "base_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <!-- 1. Load libraries -->
    {% assets "base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.min.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->


    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
            transpiler: 'typescript',
            typescriptOptions: {emitDecoratorMetadata: true},
            packages: {
                'static/ts': {defaultExtension: 'ts'},
                'angular2-websocket': {defaultExtension: 'ts'}
            },
            map: {
                'angular2-websocket': 'static/ts'
            },
        });
        System.import('/static/ts/index')
                .then(null, console.error.bind(console));
    </script>
</head>
<!-- 3. Display the application -->
<body class="gray-bg">
<div id="wrapper">
    <angular2 style="display: none"></angular2>
</div>
</body>
</html>
