<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% assets "bash_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <!-- 1. Load libraries -->
    {% assets "base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
            transpiler: 'typescript',
            typescriptOptions: {emitDecoratorMetadata: true},
            packages: {
                'static/ts': {defaultExtension: 'ts'},
                'angular2-websocket': {defaultExtension: 'ts'}
            },
            map: {
                'angular2-websocket': '/static/node_modules/angular2-websocket'
            },
        });
        {% if not session.logged_in %}
            System.import('static/ts/login')
                    .then(null, console.error.bind(console));
        {% else %}
            System.import('static/ts/main')
                    .then(null, console.error.bind(console));
        {% endif %}
    </script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
</head>
<!-- 3. Display the application -->
<body class="gray-bg">

<angular2  >Loading...</angular2>

</body>
</html>
